<section class="intro">
  
  <div id = 'q' class="bg-image h-100 s-100" style="background-color: #aaf0d1;">
    <div class="mask d-flex align-items-center h-45">
      <div class="container">
        <div class="container h-100">
      <div class="d-flex justify-content-center h-10">
        <div class="searchbar">
          <input  class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-8 mx-auto">
            <div class="card mb-2"
              style="border-radius: 10em; background: linear-gradient(to right, #F0B6D5, #A38495);">
              <div class="card-body p-">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control form-control-lg rounde bg-transparent text-white"
                    placeholder="Type Keywords" aria-label="Type Keywords" aria-describedby="basic-addon2" />
                 
                </div>
              </div>
            </div>
            <div class="card" style="background-color: #edeaea;">
              <div class="card-body p-3">
                <h6 class="text-uppercase mt-3 mb-4" style="color: #A38495;">Advanced search</h6>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="dropdown">
                      <a class="btn btn-light btn-rounded btn-lg btn-block dropdown-toggle" href="#" role="button"
                        id="dropdownMenuLink" data-mdb-toggle="dropdown" aria-expanded="false">
                        Accessories
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="dropdown">
                      <a class="btn btn-light btn-rounded btn-lg btn-block dropdown-toggle" href="#" role="button"
                        id="dropdownMenuLink1" data-mdb-toggle="dropdown" aria-expanded="false">
                        Color
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="dropdown">
                      <a class="btn btn-light btn-rounded btn-lg btn-block dropdown-toggle" href="#" role="button"
                        id="dropdownMenuLink2" data-mdb-toggle="dropdown" aria-expanded="false">
                        Size
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
               
                <div class="d-flex justify-content-between align-items-center mt-4">
                  <p class="mb-0" style="color: #939597;"><span class="text-pink font-weight-bold">108 </span>results</p>
                  <div>
                    <button type="button" class="btn btn-link text-pink btn-rounded" data-mdb-ripple-color="dark">
                      Reset
                    </button>
                    <button type="button" class="btn btn-rounded purple-gradient">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  <script src="/js/bootstrap.bundle.min.js"></script>


</script>